.movies-card {
  font-size: .95em;
  font-style: kubik;
  box-shadow: 0 0 5px #1A1E22,
  0 0 10px #1A1E22,
  0 0 15px #1A1E22,
  0 0 20px #1A1E22;
  width: 100%;
  height: 100%;
}

.movies-card:hover {
  cursor: pointer;
  transition-duration: .2s;
  transform: scale(1.025);
  box-shadow: 0 0 5px #e9ecee,
              0 0 10px #e9ecee,
              0 0 15px #e9ecee,
              0 0 20px #e9ecee;
}

.movies-card:active {
  transition-duration: .2s;
  transform: scale(1.055);
  box-shadow: 0 0 5px #1A1E22,
              0 0 10px #1A1E22,
              0 0 15px #1A1E22,
              0 0 20px #1A1E22;
}

.movies-poster-img {
  width: 100%;
  box-shadow: none;
}

.card-bars {
  background-color: #56636F;
  height: 50px;
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px
}