.sel-movie-backdrop-img {
  width: 900px;
  /* box-shadow: 0 0 8px 8px black inset; */
}

.sel-movie-poster-img {
  width: 300px
}

.sel-movie-detail-section {
  display: flex;
}

.sel-movie-card {
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: black;
  color: white
}

.sel-movie-title {
  font-size: 4em;
  margin-top: 0;
}

.sel-movie-overview {
  font-size: 1.3em
}

.sel-movie-title-section {
  padding: 25px
}