.sel-movie-backdrop-img {
  width: 900px;
  /* box-shadow: 0 0 8px 8px black inset; */
}

.sel-movie-poster-img {
  width: 300px
}

.sel-movie-detail-section {
  display: flex;
}

.sel-movie-card {
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #2B3238;
  color: #e9ecee
}

.sel-movie-title {
  font-size: 4em;
  margin-top: 0;
}

.sel-movie-overview {
  font-size: 1.3em
}

.sel-movie-title-section {
  padding: 25px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border-left: 2px solid #1A1E22;
  border-right: 2px solid #1A1E22;
}

.sel-movie-tagline {
  font-size: 40px;
  margin-top: 10px;
}

.sel-movie-details {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}