.header-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A1E22;
  height: 15vh;
}

h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 64px;
  color: #e9ecee;
  margin: 0;
  text-align: center;
}

@media  screen and (max-width: 500px) {
  h1 {
    font-size: 48px;
  }
}

@media  screen and (max-width: 400px) {
  h1 {
    font-size: 32px;
  }
}